body {
margin: 0;
padding: 0;	
font-family: "Inter", sans-serif;
height: 100vh;
display: flex;
align-items: top;
justify-content: center;
background: #D55E00;
background: -moz-linear-gradient(45deg, #D55E00 0%, #0072B2 100%);
background: -webkit-linear-gradient(45deg, #D55E00 0%, #0072B2 100%);
background: linear-gradient(45deg, #D55E00 0%, #0072B2 100%);

}

.container {
	text-align: center;
}



.button {
	align-items: center;
	justify-content: center;
	padding: 20px 30px;
	font-size: 18px;
	border-radius: 5px;
	margin: 20px 10px;
	-moz-transform: scale(1.4) translate(0px, 13px);
-webkit-transform: scale(1.4) translate(0px, 13px);
-o-transform: scale(1.4) translate(0px, 13px);
-ms-transform: scale(1.4) translate(0px, 13px);
transform: scale(1.4) translate(0px, 13px);
}

button:hover {
	background: whitesmoke
}


body {
  font-size: 14px;
  border: 3px ridge black;
  border-radius: 15px;
}





{animation: textbox1 2s ease 0s 1 normal forwards;}

@keyframes textbox1 {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

{ animation: textbox2 2s ease 0s 1 normal forwards;}

@keyframes textbox2 {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}