* {
margin: 0;
padding: 0;	
font-family: "Inter", sans-serif;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.container {
	text-align: center;
	background: aqua;
}

image {
border: 15px solid;
border-image: url(/img/border-image.png) 30 / 15px / 0px stretch;
}

button {
	padding: 12px 30px;
	font-size: 18px;
	background: red
	color: black
	border: none;
	border-radius: 5px;
	margin: 20px 10px;
}

button:hover {
	background: red
}


body {
  font-size: 14px;
}




{animation: textbox1 2s ease 0s 1 normal forwards;}

@keyframes textbox1 {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

{ animation: textbox2 2s ease 0s 1 normal forwards;}

@keyframes textbox2 {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}