body {
margin: 0;
padding: 0;	
font-family: "Inter", sans-serif;
height: 100vh;
display: center;
align-items: top;
justify-content: center;
background: #D55E00;
background: -moz-linear-gradient(45deg, #D55E00 0%, #0072B2 100%);
background: -webkit-linear-gradient(45deg, #D55E00 0%, #0072B2 100%);
background: linear-gradient(45deg, #D55E00 0%, #0072B2 100%)

}

.container {
	position: absolute;
	width: 100%;
	bottom: 20px;
	left: 0;
	text-align: center;
	z-index: 100;
	
}

#newJoke {
border-color: black;

}

#copyJoke{
	border-color: black;
}




.button {
	align-items: bottom;
	justify-content: center;
	padding: 20px 30px;
	font-size: 18px;
	border-radius: 5px;
	margin: 20px 10px;
	-moz-transform: scale(1.4) translate(0px, 13px);
-webkit-transform: scale(1.4) translate(0px, 13px);
-o-transform: scale(1.4) translate(0px, 13px);
-ms-transform: scale(1.4) translate(0px, 13px);
transform: scale(1.4) translate(0px, 13px);
}

button:hover {
	background: lightcyan
}

.zoom {
  padding: 50px;
  background-color: whitesmoke;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); 
}


body {
  font-size: 14px;
  border-radius: 15px;
}

#backgroundSquare {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100vh;
	background-color: white;
	opacity: 0.5;
	z-index: 0;
}

h1 {
	text-align: center;
	z-index: 10;
}

#slangButton {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px ;
	background-color:aliceblue;
	border-radius: 5px;
}

#slangButton:hover {
	background:whitesmoke
}

img {
position: absolute;
height: 100vh;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
}

#slangHeading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100vh;
	background-color: white;
	z-index: 0;
}

slang.html {
	background-color: white;
	opacity: 0.5;
}

h2 {
	text-align: center;

}

#dadJokelink {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px ;
	background-color:aliceblue;
	border-color: black;
	border-radius: 5px;
}


#dadJokelink:hover {
	background-color: whitesmoke;
}

{animation: textbox1 2s ease 0s 1 normal forwards;}

@keyframes textbox1 {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

{ animation: textbox2 2s ease 0s 1 normal forwards;}

@keyframes textbox2 {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

